@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Reset password confirmation";
}
<div id="card-with-string">
    <div class="card card-cascade narrower bg1" style="width: 350px;margin: 100px auto;margin-bottom: 10px;height: auto;display: block; margin-top:200px;">

        <div class="card-header bg2 " style="text-align:center;color:white;padding-top:5px;">
            Reset your password
        </div>
        <div class="card-body" style="padding-top:10px; text-align:center">
            <div>
                <div>
                    @ViewData["Title"].
                    <p>
                        Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
